{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "corejs": 3,
        "targets": {
          "browsers": [
            "Chrome >= 49",
            "FireFox >= 44",
            "Safari >= 9",
            "ie >= 11",
            "last 4 Edge versions"
          ]
        }
      }
    ]
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-transform-runtime"
  ]
}
