{
  "presets": [
    [
      "env",
      {
        "modules": false,
        "targets": {
          "browsers": ["Chrome >= 49", "FireFox >= 44", "Safari >= 9", "ie >= 11", "last 4 Edge versions"]
        }
      }
    ],
    "stage-3"
  ],
  "ignore": ["node_modules"],
  "plugins": [
    "transform-class-properties",
    [
      "transform-runtime",
      {
        "polyfill": false,
        "regenerator": true
      }
    ]
  ]
}
